<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.techlad.geo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".List1" />
        <activity android:name=".About" />
        <activity android:name=".Mercury" />
        <activity android:name=".Venus" />
        <activity android:name=".Earth" />
        <activity android:name=".Mars" />
        <activity android:name=".Jupiter" />
        <activity android:name=".Saturn" />
        <activity android:name=".Uranus" />
        <activity android:name=".Pluto" />
        <activity android:name=".Neptune" />
        <activity android:name=".List2" />
        <activity android:name=".Asia" />
        <activity android:name=".Africa" />
        <activity android:name=".Antarctica" />
        <activity android:name=".Australia" />
        <activity android:name=".Europe" />
        <activity android:name=".NorthAmerica" />
        <activity android:name=".SouthAmerica" />
        <activity android:name=".List3" />
        <activity android:name=".UnitedStates" />
        <activity android:name=".India" />
        <activity android:name=".UnitedKingdom" />
        <activity android:name=".Canada" />
        <activity android:name=".Japan" />
        <activity android:name=".Germany" />
        <activity android:name=".Australia2" />
        <activity android:name=".List4" />
        <activity android:name=".Agra" />
        <activity android:name=".Banglore" />
        <activity android:name=".Delhi" />
        <activity android:name=".Jaipur" />
        <activity android:name=".Kolkata" />
        <activity android:name=".Lucknow" />
        <activity android:name=".Mumbai"/>
    </application>

</manifest>